<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
    <display-name>Web Data Service</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/applicationContext.xml classpath*:db-context.xml
        </param-value>
    </context-param>

    <listener id="ioc-listener">
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>WebDataService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>InitDB</servlet-name>
        <servlet-class>ru.ki.ws.InitServlet</servlet-class>
        <!--<load-on-startup>2</load-on-startup>-->
    </servlet>

    <servlet-mapping>
        <servlet-name>WebDataService</servlet-name>
        <url-pattern>/wds</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>InitDB</servlet-name>
        <url-pattern>/init-db</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
